DATABASE_URL=postgresql+psycopg://postgres:<your_password>@localhost:5432/assistant_db

# Weaviate Cloud
WEAVIATE_CLUSTER_URL=<your_weaviate_cluster_url>
WEAVIATE_API_KEY=<your_weaviate_api_key>

# LLM
GROQ_API=<your_groq_api_key>
GROQ_BASE_URL=https://api.groq.com/openai/v1
MODEL=llama-3.1-8b-instant